.rolagem{
    margin: 30px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    background-color: rgb(41, 41, 41);
    border-radius: 20px;
}
.item{
    display: flex;
    margin: 30px;
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    border-radius: 20px;
}